*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	outline: 0;
}
.container{
	margin: 0 auto;
	width: 85%;
	padding: 15px;
}
.slide{
	position: relative;
	overflow: hidden;
}
.slide-inner{
	display: flex;
	width: 100%;
}
.slide-inner .content{
	flex: none;
	width: 100%;
	transition: left .4s ease-in-out;
	left: 0;
	position: relative;
}
.slide-inner .content .description{
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	color: #fff;padding: 20px 15px;
	z-index: 1;
}
.slide-inner .content .description h3{
	margin-bottom: 10px;
}
.slide-inner .content img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slide-nav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	align-items: center;
}
.slide-nav.right{
	right: 0;
	left: auto;
}
.slide-nav a{
	padding: 20px;
	color: #fff;
	background-color: rgba(0,0,0,.7);
	transition: background-color .4s ease-out;
}
.slide-nav a:hover{
	background-color: #000;
}
.slide-indicator{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	margin-left: -5px;
	margin-right: -5px;
	padding: 20px;
	z-index: 2;
}
.slide-indicator div{
	width: 32px;
	height: 4px;
	margin: 0 5px;
	background-color: rgba(0,0,0, .7);
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}
.slide-indicator .active{
	background-color: #f5f6fa;
	cursor: default;
}
.yellow{
	background-color: #fbc532;
}
.green{
	background-color: #4cd137;
}
.custom-content{
	height: 100%;
	color: #000;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.custom-content h1{
	margin-bottom: 15px;
}
.btn{
	background-color: #000;
	color: #fff;
	padding: 10px 15px;
	border-radius: 2px;
	margin-top: 25px;
	transition: .4s all ease-out;
}
.btn:hover{
	color: #000;
	background-color: #fff;
}

@media screen and (max-width: 768px){
	.container{
		width: 100%;
	}
}